@media (min-width:500px){
    h1::before{
               content: "Free Resources to learn Coding"
    }
}
@media (max-width:499px){
    h1::before{
              content:"Free Coding Resources"
    }    
    
}


@media print{
    .screen-only{
        display:none
    }
}

#nav{
    text-align: center ;
    border:solid rgb(87, 80, 80);
    margin:20px;
    padding:3px;
    font-family: Arial, Helvetica, sans-serif;
}



h1 {
    text-align:center;
    color:#3c3d3c;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background-color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    border:3px solid gray;
    margin:20px;
    padding:10px ;

}

input[type="text"]{
    background-color: yellow;
}

input[type="password"]{
    background-color:yellow;
}

button{
    width:100px;
    height:50px;
    background-color:white;
    font-size:17px;
}

button:hover{
    background-color:gray;
    font-size:20px;
}


#content{
    font-family: Arial, Helvetica, sans-serif;
    border:3px solid rgb(105, 104, 104);
    background-color: #a19f9f;
    margin:20px;
    padding:10px;
}